<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="address" class="org.vampireteeth.springtutorial.beans.Address" 
	init-method="onCreate" destroy-method="onDestroy" scope="prototype">
		<constructor-arg name="number" value="6" />
		<constructor-arg name="street" value="Winter Street" />
		<constructor-arg name="postcode" value="2117" />
	</bean>

	<bean id="person" class="org.vampireteeth.springtutorial.beans.Person">
		<constructor-arg name="name" value="Steven Liu" />
		<constructor-arg name="age" value="32" />
		<property name="taxId" value="123456" />
		<property name="address" ref="address" />
	</bean>

	<!-- more bean definitions for services go here -->

</beans>